


<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Patient </title>

					<th:block th:include="nav-side.html">
<h1> yep admin</h1>


    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Users</title>
    
    <style type="text/css">
   #pos{
	position: absolute;
	top: 20%;
	left: 17%;
	width: 80%;
	   }
	   
	   </style>
  
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

</head>


<body>
<div id="pos" >
    <div class="container my-2">
        <div class="card">
            <div class="card-body">
               <div th:switch="${salleActivites}" class="container my-5"> 
                    <p class="my-5">
                        <a href="/admin/goaddsa" class="btn btn-primary"><i
       class="fas fa-user-plus ml-2"> Add Salle d'activité</i></a>
                    </p>
                    <div class="col-md-10">
                    
                        <div id="pos2">
                            <table class="table table-striped table-responsive-md">
                                <thead>
                                    <tr>
                                        <th>Numero </th>
                                        <th>Capacité  </th>
                                        <th>Disponibilité </th>
                                       
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="salleActivite : ${listSalleActivite}">
                                        <td th:text="${salleActivite.numSalle}"></td>
                                        <td th:text="${salleActivite.capaciteSalle}"></td>
                                        <td th:text="${salleActivite.diponibilite}"></td>
                                         
                                       <td><a th:href="@{/admin/editsalleactivite/{numSalle}(numSalle=${salleActivite.numSalle})}" class="btn btn-primary"><i class="fas fa-user-edit ml-2"></i></a></td>
                                        <td><a th:href="@{/admin/deletesalleactivite/{numSalle}(numSalle=${salleActivite.numSalle})}" class="btn btn-primary"><i class="fas fa-user-times ml-2"></i></a></td>  
                                    </tr>
                                </tbody>
                            </table>
                          </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
 
</body>

</html>





















































