<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Staff Activite </title>

						<th:block th:include="nav-side-staffactivite.html">
<h1> yep Staff </h1>


    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Users</title>
    
    <style type="text/css">
   #pos{
	position: absolute;
	top: 20%;
	left: 17%;
	width: 80%;
	   }
	   </style>
  
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="../css/shards.min.css"> -->
</head>

<body>

	<div id="pos" >
    <div class="container my-2">
        <div class="card">
            <div class="card-body">
                <div th:switch="${plannings}" class="container my-5">
                    <p class="my-5">
                        <a href="/staffactivite/goproac" class="btn btn-primary">
       <i class="fas fa-user-plus ml-2">Proposer Activité</i></a>
                    </p>
                    <div class="col-md-10">
                       
                            <table class="table table-striped table-responsive-md">
                                <thead>
                                    <tr>
                                        <th>Date début</th>
                                        <th>Date fin</th>
                                        <th>Mission</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="planning : ${listPlanning}">
                                        <td th:text="${planning.datedeb}"></td>
                                        <td th:text="${planning.datefin}"></td>
                                        <td th:text="${planning.mission}"></td>
                           <!--              <td><a th:href="@{/admin/edituser/{login}(login=${user.login})}" class="btn btn-primary"><i class="fas fa-user-edit ml-2"></i></a></td>
                                        <td><a th:href="@{/admin/deleteuser/{login}(login=${user.login})}" class="btn btn-primary"><i class="fas fa-user-times ml-2"></i></a></td>	 -->	
                                        
                                       
                                        
                                        
                                    </tr>
                                </tbody>
                         
                            </table>
                             </form>
       
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>

</html>



